# coding: utf-8

"""
    Runai API

    # Introduction  The Run:AI Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.  Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create an **Application** through the Run:ai user interface. To create an application, in your UI, go to `Settings & Tools`, `Application` and create a new Application.  After you have created a new application, you will need to assign it access rules. To assign access rules to the application, see [Create access rules](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#create-or-delete-rules). Make sure you assign the correct rules to your application. Use the [Roles](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#roles) to assign the correct access rules.  To get your access token, follow the instructions in [Request a token](https://docs.run.ai/latest/developer/rest-auth/#request-an-api-token).   # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DepartmentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_department(self, body, **kwargs):  # noqa: E501
        """Create department  # noqa: E501

        Create Department  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_department(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentCreationRequest body: Department to create. (required)
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_department_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_department_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_department_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create department  # noqa: E501

        Create Department  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_department_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentCreationRequest body: Department to create. (required)
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_department_0(self, body, cluster_id, **kwargs):  # noqa: E501
        """Create a new department.  # noqa: E501

        Creates a new department in the cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_department_0(body, cluster_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentCreateRequest body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_department_0_with_http_info(body, cluster_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_department_0_with_http_info(body, cluster_id, **kwargs)  # noqa: E501
            return data

    def create_department_0_with_http_info(self, body, cluster_id, **kwargs):  # noqa: E501
        """Create a new department.  # noqa: E501

        Creates a new department in the cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_department_0_with_http_info(body, cluster_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentCreateRequest body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'cluster_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_department_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_department_0`")  # noqa: E501
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `create_department_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_department(self, department_id, **kwargs):  # noqa: E501
        """Delete department  # noqa: E501

        Delete department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department(department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str department_id: The id of the department. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_department_with_http_info(department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_department_with_http_info(department_id, **kwargs)  # noqa: E501
            return data

    def delete_department_with_http_info(self, department_id, **kwargs):  # noqa: E501
        """Delete department  # noqa: E501

        Delete department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department_with_http_info(department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str department_id: The id of the department. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `delete_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments/{departmentId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_department_0(self, cluster_id, department_id, **kwargs):  # noqa: E501
        """Delete a department.  # noqa: E501

        Deletes a department from a specific cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department_0(cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_department_0_with_http_info(cluster_id, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_department_0_with_http_info(cluster_id, department_id, **kwargs)  # noqa: E501
            return data

    def delete_department_0_with_http_info(self, cluster_id, department_id, **kwargs):  # noqa: E501
        """Delete a department.  # noqa: E501

        Deletes a department from a specific cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_department_0_with_http_info(cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cluster_id', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_department_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `delete_department_0`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `delete_department_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501
        if 'department_id' in params:
            path_params['department-id'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments/{department-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_department(self, department_id, **kwargs):  # noqa: E501
        """Get department  # noqa: E501

        Get department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department(department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str department_id: The id of the department. (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_department_with_http_info(department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_department_with_http_info(department_id, **kwargs)  # noqa: E501
            return data

    def get_department_with_http_info(self, department_id, **kwargs):  # noqa: E501
        """Get department  # noqa: E501

        Get department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department_with_http_info(department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str department_id: The id of the department. (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `get_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments/{departmentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_department_0(self, cluster_id, department_id, **kwargs):  # noqa: E501
        """Get a specific department.  # noqa: E501

        Retrieves the details of a specific department. Requires  the`view` permission for the department.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department_0(cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param int department_id: The unique id of the department. (required)
        :param bool exclude_permissions: backwards compatibility of the 'departmentAdmins' field. if 'true', will not set the 'departmentAdmins' field in the returned department. if 'false', will set the 'departmentAdmins' field in the returned department.
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_department_0_with_http_info(cluster_id, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_department_0_with_http_info(cluster_id, department_id, **kwargs)  # noqa: E501
            return data

    def get_department_0_with_http_info(self, cluster_id, department_id, **kwargs):  # noqa: E501
        """Get a specific department.  # noqa: E501

        Retrieves the details of a specific department. Requires  the`view` permission for the department.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department_0_with_http_info(cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param int department_id: The unique id of the department. (required)
        :param bool exclude_permissions: backwards compatibility of the 'departmentAdmins' field. if 'true', will not set the 'departmentAdmins' field in the returned department. if 'false', will set the 'departmentAdmins' field in the returned department.
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cluster_id', 'department_id', 'exclude_permissions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_department_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `get_department_0`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `get_department_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501
        if 'department_id' in params:
            path_params['department-id'] = params['department_id']  # noqa: E501

        query_params = []
        if 'exclude_permissions' in params:
            query_params.append(('excludePermissions', params['exclude_permissions']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments/{department-id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_department_metrics(self, cluster_uuid, department_id, **kwargs):  # noqa: E501
        """Get metrics for a specific department.  # noqa: E501

        Get metrics for a specific department in the cluster.  Use a time range to return historical data (optional). If you use a `start` date, an `end` date is required.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department_metrics(cluster_uuid, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_uuid: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param str department_id: The id of the department. (required)
        :param datetime start: Start of time range to fetch data from in UTC format.
        :param datetime end: End of time range to fetch data from in UTC format.
        :param int number_of_samples: The number of samples to take in the specified time range.
        :param str nodepool_name: Filter by unique nodepool name.
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_department_metrics_with_http_info(cluster_uuid, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_department_metrics_with_http_info(cluster_uuid, department_id, **kwargs)  # noqa: E501
            return data

    def get_department_metrics_with_http_info(self, cluster_uuid, department_id, **kwargs):  # noqa: E501
        """Get metrics for a specific department.  # noqa: E501

        Get metrics for a specific department in the cluster.  Use a time range to return historical data (optional). If you use a `start` date, an `end` date is required.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_department_metrics_with_http_info(cluster_uuid, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_uuid: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param str department_id: The id of the department. (required)
        :param datetime start: Start of time range to fetch data from in UTC format.
        :param datetime end: End of time range to fetch data from in UTC format.
        :param int number_of_samples: The number of samples to take in the specified time range.
        :param str nodepool_name: Filter by unique nodepool name.
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cluster_uuid', 'department_id', 'start', 'end', 'number_of_samples', 'nodepool_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_department_metrics" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cluster_uuid' is set
        if ('cluster_uuid' not in params or
                params['cluster_uuid'] is None):
            raise ValueError("Missing the required parameter `cluster_uuid` when calling `get_department_metrics`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `get_department_metrics`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_uuid' in params:
            path_params['clusterUuid'] = params['cluster_uuid']  # noqa: E501
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'number_of_samples' in params:
            query_params.append(('numberOfSamples', params['number_of_samples']))  # noqa: E501
        if 'nodepool_name' in params:
            query_params.append(('nodepoolName', params['nodepool_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterUuid}/departments/{departmentId}/metrics', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_departments(self, **kwargs):  # noqa: E501
        """Get departments  # noqa: E501

        list departments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] filter_by: Filter results by a parameter. Use the format field-name operator value. Operators are == Equals, != Not equals, <= Less than or equal, >= Greater than or equal, =@ contains, !@ Does not contains, =^ Starts with and =$ Ends with. Dates are in ISO 8601 timestamp format and available for operators ==, !=, <= and >=.
        :param str sort_by: Sort results by a parameters.
        :param str sort_order: Sort results in descending or ascending order.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_departments_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_departments_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_departments_with_http_info(self, **kwargs):  # noqa: E501
        """Get departments  # noqa: E501

        list departments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] filter_by: Filter results by a parameter. Use the format field-name operator value. Operators are == Equals, != Not equals, <= Less than or equal, >= Greater than or equal, =@ contains, !@ Does not contains, =^ Starts with and =$ Ends with. Dates are in ISO 8601 timestamp format and available for operators ==, !=, <= and >=.
        :param str sort_by: Sort results by a parameters.
        :param str sort_order: Sort results in descending or ascending order.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_by', 'sort_by', 'sort_order', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_departments" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter_by' in params:
            query_params.append(('filterBy', params['filter_by']))  # noqa: E501
            collection_formats['filterBy'] = 'multi'  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_departments_0(self, cluster_id, **kwargs):  # noqa: E501
        """List all departments.  # noqa: E501

        List all the departments managed by the tenant on a specific cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments_0(cluster_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param bool exclude_permissions: Backward compatibility of the `departmentAdmins` field. If `true`, the `departmentAdmins` field in the returned departments is not set. If `false`, the `departmentAdmins` is set in the returned departments.
        :param bool memory_unit_mb: Memory returned in MB. When set to `false` (default) memory will be returned in MiB.
        :return: list[Department2]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_departments_0_with_http_info(cluster_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_departments_0_with_http_info(cluster_id, **kwargs)  # noqa: E501
            return data

    def get_departments_0_with_http_info(self, cluster_id, **kwargs):  # noqa: E501
        """List all departments.  # noqa: E501

        List all the departments managed by the tenant on a specific cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments_0_with_http_info(cluster_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_id: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param bool exclude_permissions: Backward compatibility of the `departmentAdmins` field. If `true`, the `departmentAdmins` field in the returned departments is not set. If `false`, the `departmentAdmins` is set in the returned departments.
        :param bool memory_unit_mb: Memory returned in MB. When set to `false` (default) memory will be returned in MiB.
        :return: list[Department2]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cluster_id', 'exclude_permissions', 'memory_unit_mb']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_departments_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `get_departments_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501

        query_params = []
        if 'exclude_permissions' in params:
            query_params.append(('excludePermissions', params['exclude_permissions']))  # noqa: E501
        if 'memory_unit_mb' in params:
            query_params.append(('memoryUnitMb', params['memory_unit_mb']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Department2]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_departments_metrics(self, cluster_uuid, **kwargs):  # noqa: E501
        """Get metrics for all departments.  # noqa: E501

        Get metrics for all departments in the cluster. Use a time range to return historical data (optional).  If you use a `start` date, an `end` date is required.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments_metrics(cluster_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_uuid: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param datetime start: Start of time range to fetch data from in UTC format.
        :param datetime end: End of time range to fetch data from in UTC format.
        :param int number_of_samples: The number of samples to take in the specified time range.
        :param str nodepool_name: Filter by unique nodepool name.
        :return: Departments
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_departments_metrics_with_http_info(cluster_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_departments_metrics_with_http_info(cluster_uuid, **kwargs)  # noqa: E501
            return data

    def get_departments_metrics_with_http_info(self, cluster_uuid, **kwargs):  # noqa: E501
        """Get metrics for all departments.  # noqa: E501

        Get metrics for all departments in the cluster. Use a time range to return historical data (optional).  If you use a `start` date, an `end` date is required.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_departments_metrics_with_http_info(cluster_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cluster_uuid: The Universally Unique Identifier (UUID) of the cluster. (required)
        :param datetime start: Start of time range to fetch data from in UTC format.
        :param datetime end: End of time range to fetch data from in UTC format.
        :param int number_of_samples: The number of samples to take in the specified time range.
        :param str nodepool_name: Filter by unique nodepool name.
        :return: Departments
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cluster_uuid', 'start', 'end', 'number_of_samples', 'nodepool_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_departments_metrics" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cluster_uuid' is set
        if ('cluster_uuid' not in params or
                params['cluster_uuid'] is None):
            raise ValueError("Missing the required parameter `cluster_uuid` when calling `get_departments_metrics`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_uuid' in params:
            path_params['clusterUuid'] = params['cluster_uuid']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'number_of_samples' in params:
            query_params.append(('numberOfSamples', params['number_of_samples']))  # noqa: E501
        if 'nodepool_name' in params:
            query_params.append(('nodepoolName', params['nodepool_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterUuid}/departments/metrics', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Departments',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_department_resources(self, body, department_id, **kwargs):  # noqa: E501
        """Patch department resources  # noqa: E501

        Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_department_resources(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Resources] body: Department resources to update. (required)
        :param str department_id: The id of the department. (required)
        :return: list[Resources]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_department_resources_with_http_info(body, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_department_resources_with_http_info(body, department_id, **kwargs)  # noqa: E501
            return data

    def patch_department_resources_with_http_info(self, body, department_id, **kwargs):  # noqa: E501
        """Patch department resources  # noqa: E501

        Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_department_resources_with_http_info(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Resources] body: Department resources to update. (required)
        :param str department_id: The id of the department. (required)
        :return: list[Resources]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_department_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_department_resources`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `patch_department_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments/{departmentId}/resources', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Resources]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_department(self, body, department_id, **kwargs):  # noqa: E501
        """Update department  # noqa: E501

        Update department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentUpdateRequest body: Department to update. (required)
        :param str department_id: The id of the department. (required)
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_department_with_http_info(body, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_department_with_http_info(body, department_id, **kwargs)  # noqa: E501
            return data

    def update_department_with_http_info(self, body, department_id, **kwargs):  # noqa: E501
        """Update department  # noqa: E501

        Update department by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_with_http_info(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentUpdateRequest body: Department to update. (required)
        :param str department_id: The id of the department. (required)
        :return: Department
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_department" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_department`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `update_department`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments/{departmentId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_department_0(self, body, cluster_id, department_id, **kwargs):  # noqa: E501
        """Update a department.  # noqa: E501

        Updates a department's details in the cluster. \\n For example, node pools and other details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_0(body, cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentUpdateRequest1 body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_department_0_with_http_info(body, cluster_id, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_department_0_with_http_info(body, cluster_id, department_id, **kwargs)  # noqa: E501
            return data

    def update_department_0_with_http_info(self, body, cluster_id, department_id, **kwargs):  # noqa: E501
        """Update a department.  # noqa: E501

        Updates a department's details in the cluster. \\n For example, node pools and other details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_0_with_http_info(body, cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentUpdateRequest1 body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: Department2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'cluster_id', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_department_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_department_0`")  # noqa: E501
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `update_department_0`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `update_department_0`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501
        if 'department_id' in params:
            path_params['department-id'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments/{department-id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Department2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_department_admins(self, body, cluster_id, department_id, **kwargs):  # noqa: E501
        """Set the department admins.  # noqa: E501

        Deprecated. Instead, use the accessrules API to add the department-admin permissions to a specific subject.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_admins(body, cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentAccessControl body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: DepartmentAccessControl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_department_admins_with_http_info(body, cluster_id, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_department_admins_with_http_info(body, cluster_id, department_id, **kwargs)  # noqa: E501
            return data

    def update_department_admins_with_http_info(self, body, cluster_id, department_id, **kwargs):  # noqa: E501
        """Set the department admins.  # noqa: E501

        Deprecated. Instead, use the accessrules API to add the department-admin permissions to a specific subject.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_admins_with_http_info(body, cluster_id, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DepartmentAccessControl body: (required)
        :param str cluster_id: The unique uuid identifying the cluster. (required)
        :param int department_id: The unique id identifying the department. (required)
        :return: DepartmentAccessControl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'cluster_id', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_department_admins" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_department_admins`")  # noqa: E501
        # verify the required parameter 'cluster_id' is set
        if ('cluster_id' not in params or
                params['cluster_id'] is None):
            raise ValueError("Missing the required parameter `cluster_id` when calling `update_department_admins`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `update_department_admins`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cluster_id' in params:
            path_params['clusterId'] = params['cluster_id']  # noqa: E501
        if 'department_id' in params:
            path_params['department-id'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{clusterId}/departments/{department-id}/access-control', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DepartmentAccessControl',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_department_resources(self, body, department_id, **kwargs):  # noqa: E501
        """Update department resources  # noqa: E501

        Update department resources by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_resources(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Resources] body: Department resources to update. (required)
        :param str department_id: The id of the department. (required)
        :return: list[Resources]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_department_resources_with_http_info(body, department_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_department_resources_with_http_info(body, department_id, **kwargs)  # noqa: E501
            return data

    def update_department_resources_with_http_info(self, body, department_id, **kwargs):  # noqa: E501
        """Update department resources  # noqa: E501

        Update department resources by Id  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_department_resources_with_http_info(body, department_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[Resources] body: Department resources to update. (required)
        :param str department_id: The id of the department. (required)
        :return: list[Resources]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'department_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_department_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_department_resources`")  # noqa: E501
        # verify the required parameter 'department_id' is set
        if ('department_id' not in params or
                params['department_id'] is None):
            raise ValueError("Missing the required parameter `department_id` when calling `update_department_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'department_id' in params:
            path_params['departmentId'] = params['department_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/org-unit/departments/{departmentId}/resources', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Resources]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
