# coding: utf-8

"""
    Runai API

    # Introduction  The Run:AI Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.  Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create an **Application** through the Run:ai user interface. To create an application, in your UI, go to `Settings & Tools`, `Application` and create a new Application.  After you have created a new application, you will need to assign it access rules. To assign access rules to the application, see [Create access rules](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#create-or-delete-rules). Make sure you assign the correct rules to your application. Use the [Roles](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#roles) to assign the correct access rules.  To get your access token, follow the instructions in [Request a token](https://docs.run.ai/latest/developer/rest-auth/#request-an-api-token).   # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DistributedApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_distributed(self, **kwargs):  # noqa: E501
        """Create a distributed training. [Experimental]  # noqa: E501

        Use to create a distributed training.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_distributed(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DistributedCreationRequest body:
        :return: DistributedWorkload
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_distributed_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_distributed_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_distributed_with_http_info(self, **kwargs):  # noqa: E501
        """Create a distributed training. [Experimental]  # noqa: E501

        Use to create a distributed training.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_distributed_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DistributedCreationRequest body:
        :return: DistributedWorkload
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_distributed" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/distributed', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DistributedWorkload',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_distributed(self, workload_id, **kwargs):  # noqa: E501
        """Delete a distributed training by id. [Experimental]  # noqa: E501

        Use to delete a distributed training by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_distributed(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_distributed_with_http_info(workload_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_distributed_with_http_info(workload_id, **kwargs)  # noqa: E501
            return data

    def delete_distributed_with_http_info(self, workload_id, **kwargs):  # noqa: E501
        """Delete a distributed training by id. [Experimental]  # noqa: E501

        Use to delete a distributed training by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_distributed_with_http_info(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workload_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_distributed" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workload_id' is set
        if ('workload_id' not in params or
                params['workload_id'] is None):
            raise ValueError("Missing the required parameter `workload_id` when calling `delete_distributed`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workload_id' in params:
            path_params['workloadId'] = params['workload_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/distributed/{workloadId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_distributed(self, workload_id, **kwargs):  # noqa: E501
        """Get distributed training's data. [Experimental]  # noqa: E501

        Retrieve the details of a distributed training by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_distributed(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :return: DistributedWorkload
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_distributed_with_http_info(workload_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_distributed_with_http_info(workload_id, **kwargs)  # noqa: E501
            return data

    def get_distributed_with_http_info(self, workload_id, **kwargs):  # noqa: E501
        """Get distributed training's data. [Experimental]  # noqa: E501

        Retrieve the details of a distributed training by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_distributed_with_http_info(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :return: DistributedWorkload
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workload_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_distributed" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workload_id' is set
        if ('workload_id' not in params or
                params['workload_id'] is None):
            raise ValueError("Missing the required parameter `workload_id` when calling `get_distributed`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workload_id' in params:
            path_params['workloadId'] = params['workload_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/distributed/{workloadId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DistributedWorkload',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
