# coding: utf-8

"""
    Runai API

    # Introduction  The Run:AI Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.  Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create an **Application** through the Run:ai user interface. To create an application, in your UI, go to `Settings & Tools`, `Application` and create a new Application.  After you have created a new application, you will need to assign it access rules. To assign access rules to the application, see [Create access rules](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#create-or-delete-rules). Make sure you assign the correct rules to your application. Use the [Roles](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#roles) to assign the correct access rules.  To get your access token, follow the instructions in [Request a token](https://docs.run.ai/latest/developer/rest-auth/#request-an-api-token).   # noqa: E501

    OpenAPI spec version: 2.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PodsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def count_pods(self, **kwargs):  # noqa: E501
        """Get pods count.  # noqa: E501

        Retrieve the number of pods from a cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.count_pods(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool deleted: Return only deleted resources when `true`.
        :param list[str] filter_by: Filter results using a parameter. Use the format field-name operator value. Operators are `==` Equals, `!=` Not equals, `<=` Less than or equal, `>=` Greater than or equal, `=@` contains, `!@` Does not contains, `=^` Starts with and `=$` Ends with. Dates are in ISO 8601 timestamp format and available for operators `==`, `!=`, `<=` and `>=`.
        :return: InlineResponse2006
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.count_pods_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.count_pods_with_http_info(**kwargs)  # noqa: E501
            return data

    def count_pods_with_http_info(self, **kwargs):  # noqa: E501
        """Get pods count.  # noqa: E501

        Retrieve the number of pods from a cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.count_pods_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool deleted: Return only deleted resources when `true`.
        :param list[str] filter_by: Filter results using a parameter. Use the format field-name operator value. Operators are `==` Equals, `!=` Not equals, `<=` Less than or equal, `>=` Greater than or equal, `=@` contains, `!@` Does not contains, `=^` Starts with and `=$` Ends with. Dates are in ISO 8601 timestamp format and available for operators `==`, `!=`, `<=` and `>=`.
        :return: InlineResponse2006
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deleted', 'filter_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method count_pods" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'deleted' in params:
            query_params.append(('deleted', params['deleted']))  # noqa: E501
        if 'filter_by' in params:
            query_params.append(('filterBy', params['filter_by']))  # noqa: E501
            collection_formats['filterBy'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/pods/count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2006',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_pods(self, uuid, **kwargs):  # noqa: E501
        """get all pods from a specific cluster. Deprecated - please use api/v1/workloads/pods instead  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pods(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Unique identifier of the cluster (required)
        :return: Pods
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_pods_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_pods_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def get_pods_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """get all pods from a specific cluster. Deprecated - please use api/v1/workloads/pods instead  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pods_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Unique identifier of the cluster (required)
        :return: Pods
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pods" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `get_pods`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/k8s/clusters/{uuid}/pods', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Pods',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_workload_pod_metrics(self, workload_id, pod_id, metric_type, start, end, **kwargs):  # noqa: E501
        """Get pod metrics data. [Experimental]  # noqa: E501

        Retrieve pod's metrics data for use in analysis applications.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_workload_pod_metrics(workload_id, pod_id, metric_type, start, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :param str pod_id: The requested pod id. (required)
        :param list[PodMetricType] metric_type: Specify which metric data to request. Advanced GPU metrics are only supported if the 'Advanced GPU Metrics' feature flag in the settings is enabled. (required)
        :param datetime start: Start date of time range to fetch data in ISO 8601 timestamp format. (required)
        :param datetime end: End date of time range to fetch data in ISO 8601 timestamp format. (required)
        :param int number_of_samples: The number of samples to take in the specified time range.
        :return: MetricsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_workload_pod_metrics_with_http_info(workload_id, pod_id, metric_type, start, end, **kwargs)  # noqa: E501
        else:
            (data) = self.get_workload_pod_metrics_with_http_info(workload_id, pod_id, metric_type, start, end, **kwargs)  # noqa: E501
            return data

    def get_workload_pod_metrics_with_http_info(self, workload_id, pod_id, metric_type, start, end, **kwargs):  # noqa: E501
        """Get pod metrics data. [Experimental]  # noqa: E501

        Retrieve pod's metrics data for use in analysis applications.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_workload_pod_metrics_with_http_info(workload_id, pod_id, metric_type, start, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :param str pod_id: The requested pod id. (required)
        :param list[PodMetricType] metric_type: Specify which metric data to request. Advanced GPU metrics are only supported if the 'Advanced GPU Metrics' feature flag in the settings is enabled. (required)
        :param datetime start: Start date of time range to fetch data in ISO 8601 timestamp format. (required)
        :param datetime end: End date of time range to fetch data in ISO 8601 timestamp format. (required)
        :param int number_of_samples: The number of samples to take in the specified time range.
        :return: MetricsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workload_id', 'pod_id', 'metric_type', 'start', 'end', 'number_of_samples']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_workload_pod_metrics" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workload_id' is set
        if ('workload_id' not in params or
                params['workload_id'] is None):
            raise ValueError("Missing the required parameter `workload_id` when calling `get_workload_pod_metrics`")  # noqa: E501
        # verify the required parameter 'pod_id' is set
        if ('pod_id' not in params or
                params['pod_id'] is None):
            raise ValueError("Missing the required parameter `pod_id` when calling `get_workload_pod_metrics`")  # noqa: E501
        # verify the required parameter 'metric_type' is set
        if ('metric_type' not in params or
                params['metric_type'] is None):
            raise ValueError("Missing the required parameter `metric_type` when calling `get_workload_pod_metrics`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_workload_pod_metrics`")  # noqa: E501
        # verify the required parameter 'end' is set
        if ('end' not in params or
                params['end'] is None):
            raise ValueError("Missing the required parameter `end` when calling `get_workload_pod_metrics`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workload_id' in params:
            path_params['workloadId'] = params['workload_id']  # noqa: E501
        if 'pod_id' in params:
            path_params['podId'] = params['pod_id']  # noqa: E501

        query_params = []
        if 'metric_type' in params:
            query_params.append(('metricType', params['metric_type']))  # noqa: E501
            collection_formats['metricType'] = 'csv'  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'number_of_samples' in params:
            query_params.append(('numberOfSamples', params['number_of_samples']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/csv'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/{workloadId}/pods/{podId}/metrics', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MetricsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_workload_pods(self, workload_id, **kwargs):  # noqa: E501
        """Get workload pods by id.  # noqa: E501

        Retrieve the details of workload pods by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_workload_pods(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :param bool deleted: Return only deleted resources when `true`.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_workload_pods_with_http_info(workload_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_workload_pods_with_http_info(workload_id, **kwargs)  # noqa: E501
            return data

    def get_workload_pods_with_http_info(self, workload_id, **kwargs):  # noqa: E501
        """Get workload pods by id.  # noqa: E501

        Retrieve the details of workload pods by workload id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_workload_pods_with_http_info(workload_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str workload_id: Unique identifier of the workload. (required)
        :param bool deleted: Return only deleted resources when `true`.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workload_id', 'deleted', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_workload_pods" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workload_id' is set
        if ('workload_id' not in params or
                params['workload_id'] is None):
            raise ValueError("Missing the required parameter `workload_id` when calling `get_workload_pods`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'workload_id' in params:
            path_params['workloadId'] = params['workload_id']  # noqa: E501

        query_params = []
        if 'deleted' in params:
            query_params.append(('deleted', params['deleted']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/{workloadId}/pods', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20011',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_pods(self, **kwargs):  # noqa: E501
        """List pods.  # noqa: E501

        Retrieve a list of pods from a cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_pods(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool deleted: Return only deleted resources when `true`.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :param str sort_order: Sort results in descending or ascending order.
        :param str sort_by: Sort results using a parameter.
        :param list[str] filter_by: Filter results using a parameter. Use the format field-name operator value. Operators are `==` Equals, `!=` Not equals, `<=` Less than or equal, `>=` Greater than or equal, `=@` contains, `!@` Does not contains, `=^` Starts with and `=$` Ends with. Dates are in ISO 8601 timestamp format and available for operators `==`, `!=`, `<=` and `>=`.
        :param PodVerbosity verbosity: response verbosity level. if full, the response includes workloadName and projectName fields. 
        :param str completed: Return only completed resources when 'true', return only non-completed resources when 'false'. By default, or when empty, returns all resources.
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_pods_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_pods_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_pods_with_http_info(self, **kwargs):  # noqa: E501
        """List pods.  # noqa: E501

        Retrieve a list of pods from a cluster.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_pods_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool deleted: Return only deleted resources when `true`.
        :param int offset: The offset of the first item returned in the collection.
        :param int limit: The maximum number of entries to return.
        :param str sort_order: Sort results in descending or ascending order.
        :param str sort_by: Sort results using a parameter.
        :param list[str] filter_by: Filter results using a parameter. Use the format field-name operator value. Operators are `==` Equals, `!=` Not equals, `<=` Less than or equal, `>=` Greater than or equal, `=@` contains, `!@` Does not contains, `=^` Starts with and `=$` Ends with. Dates are in ISO 8601 timestamp format and available for operators `==`, `!=`, `<=` and `>=`.
        :param PodVerbosity verbosity: response verbosity level. if full, the response includes workloadName and projectName fields. 
        :param str completed: Return only completed resources when 'true', return only non-completed resources when 'false'. By default, or when empty, returns all resources.
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['deleted', 'offset', 'limit', 'sort_order', 'sort_by', 'filter_by', 'verbosity', 'completed']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_pods" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'deleted' in params:
            query_params.append(('deleted', params['deleted']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'filter_by' in params:
            query_params.append(('filterBy', params['filter_by']))  # noqa: E501
            collection_formats['filterBy'] = 'csv'  # noqa: E501
        if 'verbosity' in params:
            query_params.append(('verbosity', params['verbosity']))  # noqa: E501
        if 'completed' in params:
            query_params.append(('completed', params['completed']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/workloads/pods', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20011',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
